PORT=3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_URL=
GOOGLE_REDIRECT_URI=
GOOGLE_OAUTH_URL=
GOOGLE_CLOUD_API=
GOOGLE_CLOUD_TOKEN_URL=
MOODLE_TOKEN=
MOODLE_REST_FORMAT=
MOODLE_URL=
JWT_SECRET=